.main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 100vh;
    background: #E9E9E9;
}

.main__lists {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 100px 0px 0px 0px;
}