.book-item__counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 50px;
}

.counter__minus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    border: none;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}
.counter__plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    border: none;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}
.counter__count {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.5);
}

.counter__count_null {
    color: rgba(0, 0, 0, 0.5);
}