.book-list__book-item, .book__book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 855px;
    min-height: 194px;
    background: #fff;
    border-radius: 8px;
    margin: 0px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}

.book__book-item {
    flex: 1;
    max-width: 45%;
    min-height: 200px;
    margin: 0;
    cursor: auto;
}

.book__name {
    width: 600px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
.book__author {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}
.book__genre {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}
.book__stars {
    margin-left: 20px;
}
.book__cost {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .book-list__book-item {
        justify-content: start;
        max-width: 70vw;
        min-height: 154px;
        padding: 20px 20px 20px 20px;
    }
    .book__name {
        width: 70vw;
    }
}