.main__content {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.content__book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
}